/* General Styles */
body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e8f0fe;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  background-color: #73999B;
  color: #fff;
  padding: 1.5rem 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  letter-spacing: 2px;
}

.name-link {
  color: inherit; /* Maintain current text color */
  text-decoration: none; /* Remove underline */
  cursor: pointer;
}

.name-link:hover {
  text-decoration: none; /* Keep it consistent on hover */
}

/* Navigation Styles */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #828077;
}

/* Section Styles */
.section {
  margin-bottom: 40px;
}

.section h2 {
  color: #73999B;
  border-bottom: 2px solid #73999B;
  padding-bottom: 10px;
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* Footer Styles */
footer {
  background-color: #73999B;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .bio {
    flex-direction: column;
    text-align: center;
  }

  .bio img {
    margin: 0 auto 20px;
  }
}

/* Bio Section */
.bio {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.bio img {
  max-width: 200px;
  margin-right: 20px;
  border-radius: 50%;
}

.bio div {
  flex: 1;
}

/* Table Styles */
.scrollable-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  table-layout: fixed;
  border: 1px solid #828077;
}

.scrollable-table th, .scrollable-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #828077;
  word-wrap: break-word;
}

.scrollable-table thead {
  background-color: #828077;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.scrollable-table tbody {
  display: block;
  height: 400px;
  overflow-y: auto;
}

.scrollable-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* Recipe Image Styling */
.recipe-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* Responsive Recipe Image */
@media (max-width: 768px) {
  .recipe-image {
    padding: 0;
    margin-bottom: 20px;
  }
}

.responsive-image-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /* Centers the image */
}

.responsive-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; /* Ensures aspect ratio is maintained */
}

/* Hover Effects */
a:hover, tr:hover {
  background-color: #828077;
  color: white;
}

/* Resume Styles */
.resume-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #333;
}

.resume-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.resume-section-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.resume-job-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.resume-job-details {
  font-style: italic;
  margin-bottom: 0.5em;
}

.resume-job-responsibilities {
  list-style-type: disc;
  padding-left: 20px;
}

/* Download Link */
.resume-download {
  text-align: center;
  margin-top: 2em;
}

.resume-download-link {
  font-size: 1.2em;
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}

.resume-download-link:hover {
  text-decoration: underline;
}
